html, body{

}
.content{
    display: table;
    text-align: center;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.picture{
  max-width: 850px;
    height: auto;
}

.table{
    text-align: center;
    padding: 10% 20%;
    margin: 5%;
    inner-border: 5px solid black;
}

th{
    padding: 10px;
    font-size: 24px;
}

td{
    padding: 8px;
    font-size: 17px;
}

.quiz{
    font-size: 25px;
    margin: 10px;
    text-align: center;
    height: auto;
}


.answers{
}

.graphics{
    max-width:100%;
    height:auto;
}

.visibleAnswers{
    text-align: center;
}

.howManyProperAnswers{
    font-size: 0.9rem;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.query{
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    width: 95%;
}

.label{
    font-size: 100%;
    height: auto;
    width: 260px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
    display: inline-block;
    /*font-size: inherit;*/
    text-align-all: center;

}

.checkedLabel{
    color: white;
    background: black;
}

.hoverover{
    box-shadow: 10px 10px 5px grey;
}

.confirmYourChoice{
    background: black;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    padding: 1%;
    border-radius: 6px;
    display: inline-block;
    width: 70%;
    height: auto;
}

.counter{
    margin: 1%;
    display: inline-block;
}


.invisible{
    display: none;
}

.col1{
    display: inline-block;
    max-width: 950px;
    max-height: 930px;
}

.col2{
    display: inline-block;
    /*height: auto;*/
    /*max-width: 900px;*/
    vertical-align: top;
    max-width: 850px;
    min-width: 470px;
    height: auto;
}

.in{
    /*width: 800px;*/
}





